<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/css/my.css" rel="stylesheet">
</head>
<body>
{{ menu | raw }}
{{ content | raw }}
</body>
</html>